<% provide(:title, 'Followers') %>
<div class="followers_and_followed">
  <h3> Followers </h3>
    <ul>
    <%= paginate @followers %>
    <% @followers.each do |user| %>
      <li><%= link_to "#{user.nickname}", user %>
    <% end %>
    </ul>
</div>
<%= render 'empty_follow' if @followers.empty? %>
