<% if @comments.any? %>
<%= paginate @comments %>
  <% @comments.each do |comment| %>
  <h4>
   <% if comment.user %>
     <div class="comment">
      <%= (link_to "#{comment.user.nickname}", comment.user) +
           " wrote: #{comment.content} "%>
      <%= render partial: 'comments/comment_delete', locals: {comment: comment}%>
    </div>
   <% end %>
  </h4>
  <% end %>
<% end %>
